.cardInfo{
background-color: white;
position: absolute;
width: 200px; 
height: 200px;
}
body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.base-class{
  position: absolute;
  width: 50px;
  height: 50px;

}
.area{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px; 
  top: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(8, 8, 8, 0.85);
}