/* _content/monopoly.web/Views/Shared/_Layout.cshtml.rz.scp.css */

.navbar[b-urqbetjkgl]{
  width: 100%;
  height: 71px;
  margin: 0px;
  padding: 0px;
  border: 1px;
  border-radius: 10px;
}
.box-shadow[b-urqbetjkgl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
