/* .area{
    background-color: rgb(175, 41, 41);
    width: 1650px;
    height: 1650px;
    position: absolute; 
    top: 0px;
    border: 10px;
    border-radius: 10px;

}
.gameCard{
    background-color: rgba(1, 1, 1, 0.3);
    width: 200px;
    height: 200px; 
    position: absolute; 
    border-radius: 20px;
    border: 1px;
    border-color: aqua;

} */
/* body{
    background-color: rgba(7, 7, 7,1);
    position: absolute; 
    width: 100%; 
    height: 1600px;
} */